@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Nanum+Pen+Script&display=swap');
*{
    font-family: 'Jua', sans-serif;
}
body{
    margin:0;
    display:grid;
    grid-template-columns: 225px 1fr;
}
table{
    border:1px solid black;
    border-collapse: collapse;
    height:
}
tr,td{
    border:1px solid black;
}
.sidebar {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:50px 0;
    background: rgb(0, 162, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    transition: all 0.5s ease;
}
.logo{
    color:white;
    font-size:30px;
}
.search{
    width: 200px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0 solid;
    border-radius: 10px;
    font-size:20px;
}
.search:focus{
    outline:none;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color:black;
}
.sideitem{
    text-decoration: none;
    font-size:25px;
    margin-top:30px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:100vh;
}
.class_name{
    width:150px;
    height:150px;
}
.adf{
    color:#ffe2e2
}
.magic_color{
    color:dodgerblue;
}
.rare_color{
    color:blueviolet;
}
.unique_color{
    color:#ff00ff;
}
.legend_color{
    color:#ff0000;
}
.hidden_color{
    color:darkturquoise;
}
.inzu_color{
    color:seagreen;
}
.special_color{
    color:goldenrod
}
.limit_color{
    color:salmon;
}
.creation_color{
    color:#a50000;
}